.logo {
  &,
  &-link,
  &-img {
    display: inline-block;
    vertical-align: middle;
  }
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;

    &-link {
      width: 50%;
    }

    &-desc {
      color: $light_text_color;
      border-left: 1px solid $light_border_color;
      font-size: 16px;
      display: inline-block;
      width: 40%;
      line-height: 1.1;
      padding-left: 10%;
    }
  }
}

.phone {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 5px;
  }

  &-number {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 8px;
  }

  &-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $themeColorTwo;

    &:hover {
      color: lighten($themeColorTwo, 10%);
    }
  }
}

.messenger {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 5px;
  }

  &-link {
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
    }
  }
}

.lang {
  @extend %reset-list;
  margin-right: 10%;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 2px;

    &.current-lang {
      & a {
        color: $accent_color_3;
      }
    }

    a {
      display: block;
      font-size: 17px;
      text-transform: uppercase;


      &:after {
        content: "|";
        margin-left: 8px;
        color: $themeColorOne;
      }

      img {
        height: 15px;
      }
    }
  }

  &-item:last-child {
    a {
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .lang {
    margin-right: 5%;
  }
}

.phone-dropdown {
  @extend %reset-list;

  &__list {
    @extend %reset-list;
    background: $primary_color_1;
    box-shadow: $modal_shadow;
    min-width: 100%;
    width: auto;
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 5;
    display: none;

    & .phone-dropdown__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  &__button {
    background: transparent;
    border: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;

    &:after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid $themeColorOne;
      border-left: 1px solid $themeColorOne;
      transform: rotate(-45deg);
      margin-bottom: 5px;
      @extend %smooth_animation;
    }

    &.active {
      &:after {
        @extend %smooth_animation;
        transform: rotate(135deg);
        margin-bottom: 0;
      }
    }
  }
}

.mobile-language {
  & .lang {
    margin: 0;
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 1;

    &-item {
      &.current-lang {
        & a {
          font-weight: 700;
        }
      }

      & a {
        color: $primary_color_1;

        &:after {
          color: $primary_color_1;
        }
      }
    }
  }
}

.mobile-phones {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  padding: 15px 0;

  & .phone {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-number {
      color: $primary_color_1;
      font-size: 15px;
      font-weight: 700;
    }
  }
}