.tab-wrapper {
  padding: 5% 0;
}

.tabs {
  &__group {
    display: none;
  }

  &__mobile-item {
    color: $light_description_color;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    @extend %smooth_animation;

    &:before {
      content: '';
      background: $accent_color;
      width: 0;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.5s;
    }

    &.active {
      @extend %smooth_animation;
      color: $themeColorOne;

      &:before {
        transition: all 0.5s;
        width: 100%;
      }
    }
  }

  &__item {
    color: $light_description_color;
    padding: 13px 0 10px;
    margin: 0 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-size: 20px;
    text-align: center;
    @extend %smooth_animation;

    &.active {
      @extend %smooth_animation;
      color: $themeColorOne;
      border-color: $accent_color;
    }

    &:hover {
      @extend %smooth_animation;
      color: $themeColorOne;
      border-color: $accent_color;
    }
  }

  &__content {
    width: 100%;
    display: none;
    @extend %smooth_animation;

    &.active {
      @extend %smooth_animation;
      animation: scale-display .4s;
      display: block;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .tabs {
    &__group {
      border-top: 1px solid $light_border_color;
      border-bottom: 1px solid $light_border_color;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__mobile-item {
      display: none;
    }
  }
}

.item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $themeColorOne;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  &__description {
    color: $light_description_color;
    font-size: 18px;
    margin: 6px 0;
    text-align: center;
  }

  &__price {
    color: $themeColorOne;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .item {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .item {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    width: 25%;
  }
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}