@font-face {
  font-family: 'Circe';
  src: url("assets/fonts/Circe-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("assets/fonts/Circe-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}


$font-family-sans-serif: 'Circe', 'Arial', sans-serif;
$font-family-serif: 'Circe', 'Arial', sans-serif;

$fontFamilyOne: $font-family-sans-serif; // titles
$fontFamilyTwo: $font-family-sans-serif; // body