$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;

$borderRadius: 25px;
$shadow: 0 0 10px rgba(#000, .2);
$primary_color_1: #fff;
$primary_color_2: #000;
$accent_color: #fae10b;
$accent_color_2: #a1e1f7;
$accent_color_3: #4a8db2;
$light_border_color: #eaedf5;
$modal_shadow: 0 4px 12px 1px rgba(lighten($primary_color_2, 15%), .2);
$primary_button_color: $accent_color;
$secondary_button_color: $accent_color_2;
$button_shadow_color: 0 0 12px 0 rgba(lighten($primary_color_2, 15%), .2);
$light_text_color: rgba(27, 29, 30, 0.57);
$text_date_color: rgba(255, 255, 255, 0.42);
$light_bg_color: #f4f5fa;
$arrow_color: #E2E3E7;
$arrow_hover_color: #74bedd;
$dots_color: #9a9a9a;
$dots_color_active: $accent_color_2;
$reviews_bg_color: #eaedf5;
$light_description_color: #acafb3;
$block_special_bg_glass: rgba(160,225,247,0.45);




  // BRAND
$themeColorOne: #1b1d1e; // Обычно самый темный цвет. Используется для:
// заголовков h1-h6 - $titleFontColor и других. 

$themeColorTwo: #74bedd; // Основной "брендовый" цвет.
// Поменять значение этой переменной согласно макета обязательно!


// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColorTwo;
$selectionFontColor: #fff;

// BODY
$bodyBgColor: #fff; //white
$bodyFontColor: $themeColorOne; // black

// HEADER: цвет фона шапки сайта
$headerBgColor: #fff;
$headerFontColor: $themeColorOne;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColorTwo;
$textHighlightColor: #fff;

// MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorTwo;
$menuFontColor: $themeColorOne;
$menuFontColorActive: $themeColorOne;

$navArrowColor: #fff;
$navHeaderMobileBGColor: $themeColorOne;
$navHamburgerMobileColor: #fff;

$menuMobileBGColor: $themeColorOne;
$menuMobileSubMenuBGColor: lighten($themeColorOne, 10%);
$menuMobileLinkFontSize: 16px;
$menuMobileSubMenuLinkFontSize: 14px;
$menuMobileTextColor: #fff;
$menuMobileSubMenuTextColor: $menuMobileTextColor;
$menuMobileSubMenuBGOnHover: $themeColorOne;
$menuMobileSubMenuTextColorOnHover: #fff;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColorTwo;

$menu-close-size: 25px;
$menu-close-color: #fff;
$menuContainerMobilePaddingTop: 30%;

// FOOTER
$footerBgColor: $themeColorTwo;
$footerFontColor: #fff;
$footerLinkColorActive: darken($footerFontColor, 5%);

// WRAPPER
$wrapperBgColor: #fff;

// TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

// TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

// TEXT
$textMutedColor: #aaa;

// Icons
$iconColor: $themeColorTwo;
$iconColorActive: $bodyBgColor;
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 30%);
$formFieldPadding: 10px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
$inputFieldMinHeight: 38px;
$formBgColor: lighten($themeColorOne, 75%);

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: $themeColorTwo;
$paginationLinkOnHoverText: #fff;

//WOOCOMMERCE
$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;
